.movie-detail-root-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
}

.movie-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px 10px;
  max-width: 1120px;
}

@media (min-width: 1200px) {
  .movie-detail-container {
    gap: 30px;
    padding: 40px;
  }
}
