.movies-root-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
}

.movies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 15px;
}

.movies-list-container {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.movie-list-row {
  margin: -10px;
  padding-bottom: 40px;
}

.movie-card-entry {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.movie-card-entry a {
  display: flex;
  height: 100%;
}

@media (min-width: 786px) {
  .movie-list-row {
    margin: -20px;
  }

  .movie-card-entry {
    padding: 20px;
  }
}

@media (min-width: 1200px) {
  .movies-container {
    max-width: 1200px;
    padding: 40px;
  }
}
